.stream-search-container button {
   /* Set the background color to tan */
    color: white; /* Set the text color */
    border: none;
    padding: 5px 10px; /* Adjust the padding values as needed */
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .search-results {
    display:flex;
    flex-wrap: wrap;
    justify-content: center; /* Add this line to center the objects horizontally */
    align-items: center; 
    /* Add this line to center the objects vertically */
  }
  
  .search-results > div {
    flex: 1 1 200px; /* Change flex property to 1 1 200px */
    max-width: 200px; /* Add max-width property */
    border: 3px solid var(--orange); /* Change border-color to var(--orange) */
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Change justify-content to space-between */
    align-items: center;
    background-color: tan;
  }
  
  
  
  .search-results h2 {
    margin-top: 0;
  }
  
  .search-results img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .search-results p {
    margin-bottom: 10px;
  }
  
  .search-results a {
    color: blue;
    text-decoration: none;
  }
  
  .search-results a:hover {
    text-decoration: underline;
  }
  .streaming-on {
    font-weight: bold;
  }

  .service {
    font-weight: bold;
    text-transform: capitalize;
    
  }

 body {
    background-color: teal;;
 }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px; /* Adjust the padding values as needed */
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .search-button {
    margin-left: 0; /* Remove the margin on the left */
    /* Add any additional margin or padding as needed */
   
    border: none;
    padding: 0;
    
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: solid;
    border: tan solid;
    border-width: thick;
     /* Add this line to maintain the aspect ratio of the image */
  }
  
  .button-container {
    display: flex;
    margin-top: 10px; /* Add margin as needed */
  }

h1 {
  color: white;
}
  

  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .shake.animated {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    
  }

  /* Styles for mobile screens */
@media (max-width: 767px) {
    .stream-search-container button {
      padding: 3px 6px;
      font-size: 12px;
    }
    
    .search-results > div {
      flex-basis: 100%; /* Set full width for each object */
    }
    
    .search-results p {
      font-size: 12px;
    }
    
    .search-button {
      height: 40px;
    }
    
    .search-button img {
      border-width: thin;
    }
    
    .button-container {
      flex-direction: column;
    }
  }
  
  /* Styles for tablet and desktop screens */
  @media (min-width: 768px) {
    .stream-search-container button {
      padding: 5px 10px;
      font-size: 14px;
    }
    
    .search-results > div {
      flex: 1 0 200px;
    }
    
    .search-results p {
      font-size: 14px;
    }
    
    .search-button {
      height: 50px;
    }
    
    .search-button img {
      border-width: thick;
    }
    
    .button-container {
      flex-direction: row;
      margin-top: 10px;
    }
  }
  