/* CSS for SearchMoviePage */

body {
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: teal;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button-x:hover {
    background-color: #0056b3;
  }
  
  .movie {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .movie h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .movie p {
    margin: 0;
    line-height: 1.5;
  }
  
  .movie img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .movie-details {
    margin-top: 10px;
  }
  
  .movie-details p {
    margin-bottom: 5px;
  }
  